@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');

.postmark{
  position: relative;
  margin: 0;
  padding: 10px;
  width: 100px;
  height: 100px;
  border: 5px double $dull-red;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: $dull-red;
  text-align: center;
  font-size: 22px;
  font-family: 'Kaisei Opti', serif;
  line-height: 100px;
  -webkit-transform: rotate(-16deg);
  -ms-transform: rotate(-16deg);
  transform: rotate(-16deg);

  &::before {
    position: absolute;
    top: 14%;
    display: block;
    padding: 0 0 8px;
    width: 82%;
    border-bottom:1px solid $dull-red;
    content: 'Posted at :';
    font-size: 16px;
    line-height: 1;
  }
  &::after {
    position: absolute;
    bottom: 16%;
    display: block;
    padding: 6px 0 0;
    width: 82%;
    border-top: 1px solid $dull-red;
    content: 'from HYOGO';
    font-size: 13px;
    line-height: 1;
  }
}
