@import "../styles/variables.scss";
@import "../styles/mixins.scss";

// index
.section {
  position: relative;
}
.postmark {
  position: absolute;
  top: 6%;
  right: 4%;
}
.picks {
  display: inherit;
}
.picksItem {
  border: 1px solid #ccc;
  padding: $spacing-3 $spacing-2;
  margin: 0 0 $spacing-2;
}