// breakpoints
$width-xs: 0;
$width-sm: 544px;
$width-md: 768px;
$width-lg: 1012px;
$width-xl: 1280px;

$breakpoints: (
    sm: $width-sm,
    md: $width-md,
    lg: $width-lg,
    xl: $width-xl
) !default;