@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.entry {
  width: 100%;
  padding: $spacing-8 0 0;
  @include mq() {
    width: 620px;
    margin: 0 auto;
  }
}
.entry__inner {
  .title {
    font-size: $size-4;
  line-height: 1.3;
    @include mq() {
      font-size: $size-5;
    }
  }
  .metaItem {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    color: var(--color-gray);
    margin: $spacing-2 0 0;
  }
}
.entryContent {
  margin: $spacing-4 0 0;
  font-family: 'Noto Sans JP', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: $spacing-5 0;
    color: var(--color-default);
  }
  h1 {
    font-size: $size-6;
  }
  h2 {
    font-size: $size-5;
  }
  h3 {
    font-size: $size-4;
    border-left: 5px solid #ccc;
    padding: $spacing-half $spacing-half $spacing-half $spacing-1;
  }
  h4 {
    font-size: $size-3;
    background: #F6F6F6;
    padding: $spacing-half $spacing-1;
    border-radius: 4px;
  }
  h5 {
    font-size: $size-2;
    border-bottom: 1px solid #ccc;
  }
  h6 {
    font-size: $size-1;
  }
  p {
    font-size: 18px;
    line-height: 1.7;
  }
  a {
    color: var(--color-darkBlue);
    border-bottom: 1px solid var(--color-darkBlue);
  }
  ul,
  ol,
  dl {
    margin-inline-start: 1em;
    line-height: 1.9;
  }
  ul li{
    list-style: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  blockquote {
    padding: $spacing-1 $spacing-2;
    p {
      font-size: $size-1;
    }
  }
  table {
    width: 100%;
  }
}