:root {
  // fontColor
  --color-black: #222;
  --color-default: #333;
  --color-gray: #666;
  --color-blue: #04A7FF;
  --color-darkBlue: #1558d6;
  --color-red: #D72147;
  --color-softWhite: #FFFFF0;
  --color-dullRed: #bb5535;

  // margin
  --spacing-half: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 20px;
  --spacing-4: 24px;
  --spacing-5: 32px;
  --spacing-6: 40px;
  --spacing-7: 48px;
  --spacing-8: 64px;
  --spacing-9: 80px;
  --spacing-10: 112px;
  --spacing-11: 128px;
}

$spacing-half: 4px;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 20px;
$spacing-4: 24px;
$spacing-5: 32px;
$spacing-6: 40px;
$spacing-7: 48px;
$spacing-8: 64px;
$spacing-9: 80px;
$spacing-10: 112px;
$spacing-11: 128px;

// fontSize
$size-small: 14px;
$size-1: 16px;
$size-2: 20px;
$size-3: 24px;
$size-4: 28px;
$size-5: 32px;
$size-6: 40px;
$size-7: 48px;
$size-8: 64px;