@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  padding: $spacing-3 $spacing-4;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  max-width: 1180px;
  margin: 0 auto;
  @include mq() {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.nav {
  li {
    margin-bottom: $spacing-3;
    @include mq() {
    display: inline-block;
    margin: $spacing-3;
    }
  }
}