.footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__outer {
  li {
    display: inline-block;
    margin: 0 12px 0 0;
    &:last-child {
      margin-right: 0;
    }
  }
}
.footer__inner,
.footer__outer {
  text-align: center;
}